/* ==================================
  Common Css
=====================================*/

*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* ==================================
  Common Css
=====================================*/
/* ==================================
  Common Css
=====================================*/
